* {
  font-family: Arial, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #161b22; */
  background-image: linear-gradient(90deg, #4043f3 20%, #ea00ff 70%);
  scroll-behavior: smooth;
}

.navbar {
  background-image: linear-gradient(90deg, #00ff9d 20%, #eeff00 70%);
  
  width: 98.4%;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;

  .logo {
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 2px solid rgb(0, 0, 0);

    img {
      width: 17%;
      margin-left: 20px;
      margin-top: 3px;
      border-radius: 30px;
      background-color: transparent;
      transition: width 0.3s linear, border-radius 0.3s linear;
      /* border: 1px solid rgb(81, 255, 0); */
    }
    img:hover {
      width: 22%;
      border-radius: 10px;
    }
  }

  .list {
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    /* border: 1px solid rgb(255, 0, 0); */

    ul {
      display: inline-flex;
      /* border: 1px solid rgb(255, 255, 255); */
      gap: 40px;
      align-items: center;
      

      li {
        border: none;
        border-radius: 30px;
        margin-right: 20px;
        background-image: linear-gradient(90deg, #4043f3 20%, #ea00ff 70%);

        a {
          color: white;
          font-size: 14px;
          font-weight: bold;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
         
        }
      }
    }
  }
}

.main {
  background-color: transparent;
  color: rgb(0, 0, 0);
  margin: 90px 10px;
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);

  p {
    padding: 10px 10px;
  }
}
