body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #747474;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(100% - 40px); /* Adjusted width to account for margin */
  position: fixed;
  top: 0;
  left: 10px; /* Adjusted left position to account for margin */
  right: 20px; /* Adjusted right position to account for margin */
  z-index: 1000;
  box-sizing: border-box; /* Ensure padding is included in the width */
  border-radius: 10px; /* Added border radius */
  margin: 10px; /* Added margin to match .main */
  border-right: 2px solid #575757; /* Added right border */
  border-left: 2px solid #575757;
}

.logo img {
  height: 50px;
  transition: transform 0.3s;
}

.logo img:hover {
  transform: scale(1.1);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto; /* Move toggle button to the right */
}

.navbar-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar nav ul li {
  margin: 0 15px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #ffcc00;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.navbar nav ul li a:hover,
.navbar nav ul li a.active {
  background-color: #575757;
  border-radius: 5px;
  color: #ffcc00;
}

.main {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 90px 20px 20px 20px; /* Adjusted margin to account for fixed navbar */
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-toggle {
      display: flex;
  }

  .navbar nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .navbar nav ul li {
      margin: 10px 0;
  }

  .navbar nav ul li a {
      width: 100%;
      text-align: center;
  }

  .navbar nav ul.active {
      display: flex;
  }
}
